{% extends 'admin/base_admin.html.twig' %}

{% block title %}Simulateur d'aide{% endblock %}

{% block body %}
    <div class="m-4">
        <h3>Simulateur d'aide</h3>
       {# {{ dump() }}#}
        <h4 class="p-2 mb-2 bg-secondary text-white rounded">Liste des simulations</h4>
        {% if app.user %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a class="btn btn-secondary mb-2" id="register_user_button" href="{{ path('app_register') }}">Enregistrer un
                    Administrateur plugin</a>
            {% endif %}

        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div>
            <div>
                {% include 'admin/filter.html.twig' with {form_filter: form_filter} only %}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <td scope="col" class="table-secondary">
                        <input id="select_all_bouton" type="checkbox">
                    </td>
                    <th scope="col" class="table-secondary">Nom</th>
                    <th scope="col" class="table-secondary">Prénom</th>
                    <th scope="col" class="table-secondary">Code Postal</th>
                    <th scope="col" class="table-secondary">Ville</th>
                    <th scope="col" class="table-secondary">Téléphone</th>
                    <th scope="col" class="table-secondary">E-mail</th>
                    <th scope="col" class="table-secondary">Date de simulation</th>
                    <th scope="col" class="table-secondary">Rappel</th>

                    <th scope="col" class="table-secondary">Proprietaire</th>
                    <th scope="col" class="table-secondary">Type_de_bien</th>
                    <th scope="col" class="table-secondary">Anciennetée</th>

                    <th scope="col" class="table-secondary">Produit_visé</th>
                    <th scope="col" class="table-secondary">Energie</th>
                    <th scope="col" class="table-secondary">Chauffage</th>

                    <th scope="col" class="table-secondary">Nbre salle_de_bain</th>
                    <th scope="col" class="table-secondary">Nbre foyer</th>
                    <th scope="col" class="table-secondary">RFR</th>

                    <th scope="col" class="table-secondary">MaPrimeRénov'</th>
                    <th scope="col" class="table-secondary">CEE</th>
                    <th scope="col" class="table-secondary">CDP FIOUL</th>
                    <th scope="col" class="table-secondary">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr>
{#                        ----------- contact -----------#}
                        <th>
                            <input name="delete_checkbox" id="selected_checkbox" type="checkbox"
                                   value="{{ utilisateur.id }}">
                        </th>
                        <td><a class="text-secondary"
                               href="{{ path('utilisateur_profil', {'id': utilisateur.id }) }}">{{ utilisateur.nom }}</a>
                        </td>
                        <td><a class="text-secondary"
                               href="{{ path('utilisateur_profil', {'id': utilisateur.id }) }}">{{ utilisateur.prenom }}</a>
                        </td>
                        <td>{{ utilisateur.codePostal }}</td>
                        <td>{{ utilisateur.ville }}</td>
                        <td>{{ utilisateur.tel }}</td>
                        <td>{{ utilisateur.email }}</td>

                        <td>{{ utilisateur.dateSimulation|format_datetime('short', 'none', locale='en') }}</td>
                        <td>{% set rappelOK = false %}
                            {% if utilisateur.rappel == true %}
                                {% set rappelOK = true %}
                                <input type="checkbox" value="rappel" disabled="disabled" checked readonly>
                            {% else %}
                                <input type="checkbox" value="rappel" disabled="disabled" readonly>
                            {% endif %}</td>
                        <td>
                            {% set jesuisproprio = false %}
                            {% if utilisateur.proprietaire == true %}
                                {% set jesuisproprio = true %}
                                <input type="checkbox" value="proprio" disabled="disabled" checked readonly>
                            {% else %}
                                <input type="checkbox" value="proprio" disabled="disabled" readonly>
                            {% endif %}
                        </td>
                        <td>{{ utilisateur.typeBien }}</td>
                        <td>
                            {% set plsude2ans = false %}
                            {% if utilisateur.ancienneteEligible == true %}
                                {% set plsude2ans = true %}
                                <input type="checkbox" value="plusDe2ans" disabled="disabled" checked readonly>
                            {% else %}
                                <input type="checkbox" value="plusDe2ans" disabled="disabled" readonly>
                            {% endif %}
                        </td>

{#                        ----------- enquete -----------#}
                        <td>{{ utilisateur.produitVise }}</td>
                        <td>
                            {% if utilisateur.energie == "Selectionnez votre energie" %}
                                N/A
                            {% else %}
                                {{ utilisateur.energie }}
                            {% endif %}
                        </td>
                        <td>
                            {% if utilisateur.chauffage is empty %}
                                N/A
                            {% endif %}
                            {% for key, chauffage in utilisateur.chauffage %}
                                {{ utilisateur.chauffage[key] }}
                            {% endfor %}
                        </td>

{#                        ----------- enquete -----------#}
                        <td>{{ utilisateur.nbreSalleBain }}</td>
                        <td>{{ utilisateur.nbrePersFoyer }}</td>
                        <td>{{ utilisateur.revenuFiscal }}</td>
{#                        ----------- resultat -----------#}
                        <td>{{ utilisateur.resultat.primeRenov }}</td>
                        <td>{{ utilisateur.resultat.cee }}</td>
                        <td>{{ utilisateur.resultat.cdpChauffage }}</td>
                        <td>{{ utilisateur.resultat.montantTotal }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary mb-2" href="" onclick="functionDelete()">Supprimer</a>
        <a class="btn btn-secondary mb-2" id="edit_button" href="{{ path('utilisateur_list') }}">Editer</a>

        <div class="d-flex justify-content-center">
            {% do utilisateurs.setPageRange(10) %}
            {{ knp_pagination_render(utilisateurs, 'admin/pagination.html.twig') }}
        </div>
    </div>
    <div>
        {{ render(controller('App\\Controller\\AdminController::statistiques')) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let checkboxs = document.getElementsByName('delete_checkbox');
        console.log(checkboxs);
        let bouton_select_all = document.getElementById('select_all_bouton');
        let bouton_delete = document.getElementById('delete_button');
        let bouton_edit = document.getElementById('edit_button');
        var value_bouton = [];
        var value_bouton_edit = [];
        var tableau_requete_ajax = [];
        var tableau_requete_edit = [];
        console.log(tableau_requete_edit);

        // BOUTON SUPPR & EDIT
        for (let i = 0; i < checkboxs.length; i++) {
            checkboxs[i].addEventListener('change', e => {
                if (e.target.checked === true) {
                    let val_checkbox_current = checkboxs[i].value
                    console.log(val_checkbox_current)
                    value_bouton[i] = checkboxs[i].value;
                    //bouton edit
                    let url_edit_list = "{{ path('utilisateur_edit',{'id':'utilisateur.id'}) }}";
                    url_edit_list = url_edit_list.replace("utilisateur.id", value_bouton[i]);
                    bouton_edit.href = url_edit_list;
                    tableau_requete_ajax = value_bouton.filter(function (el) {
                        return el != null;
                    });
                    console.log(tableau_requete_ajax)
                } else if (e.target.checked === false) {
                    // si + de 1 restant alors on met le dernier
                    if (value_bouton.length > 1) {
                        let val_checkbox_current = checkboxs[i].value
                        value_bouton[i] = null;
                        //bouton edit
                        let url_edit_list = '{{ path('utilisateur_list') }}';
                        bouton_edit.href = (url_edit_list);
                        tableau_requete_ajax = value_bouton.filter(function (el) {
                            return el != null;
                        });
                    } else {
                        // si inferieur a 1 ou egal a zero on met le lien de la list utilisateur
                        let url_edit_list = '{{ path('utilisateur_list') }}';
                        //bouton_edit.href = url_edit_list
                    }
                }
            });
        }

        /* BOUTON SELECT ALL */
        bouton_select_all.addEventListener('change', e => {
            for (var i = 0; i < checkboxs.length; i++) {
                if (e.target.checked === true) {
                    checkboxs[i].checked = true
                    value_bouton[i] = checkboxs[i]['attributes']['value']['value'];
                    tableau_requete_ajax = value_bouton.filter(function (el) {
                        return el != null;
                    });
                    //console.log(value_bouton)
                } else if (e.target.checked === false) {
                    checkboxs[i].checked = false
                    value_bouton.pop()
                    tableau_requete_ajax = value_bouton.filter(function (el) {
                        return el != null;
                    });
                }
            }
            console.log(tableau_requete_ajax)
        })

        console.log(tableau_requete_ajax)

        /* FUNCTION SUPPR */
        function functionDelete() {
            console.log('Appel de la fonction delete' + tableau_requete_ajax)
            if (tableau_requete_ajax.length > 0 && tableau_requete_ajax.length <= 10) {
                for (let f = 0; f < tableau_requete_ajax.length; f++) {
                    // j'affiche un message de suppression en cours de l'utilisateur
                    let idUser = tableau_requete_ajax[f]
                    console.log(idUser)
                    // Executer une requete pour chaque selectionné
                    fetch("/simulateur_aide/public/admin/utilisateur/delete/" + idUser, {
                        method: "POST"
                    }).then(response => {
                        // je teste si je suis sur le dernier utilisateur à traiter
                        if (f === tableau_requete_ajax.length - 1) {
                            if (response.ok) {
                                // si j'ai fini de traiter le dernier utilisateur de mon tableau
                                // j'appelle la fonction de réactualisation de la page
                                setTimeout(function () {
                                    window.reload();
                                }, 5000);
                            } else {
                                setTimeout(function () {
                                    window.reload();
                                }, 5000);
                                console.error('Retour du serveur : ', response.status)
                            }
                        }
                    });
                }
            }
        }
    </script>
{% endblock %}

