{% block body %}
<div class="container">
    <h4 class="p-2 mb-2 bg-secondary text-white rounded">Statistiques</h4>
    <div class="card-deck d-flex flex-row ">
        <div class="card m-2 col-6">
            <h5 class="card-header">Rapport Eau chaude sanitaire / Eau chaude sanitaire et chauffage</h5>
            <div class="graph-info">
                <h6 class="card-title">Il y a actuellement {{ nbre_sanit }} simulations effectuées en "eau chaude sanitaire" et {{ nbre_chauf }} "eau chaude sanitaire
                    et chauffage"</h6>
                <canvas id="graphProduitVise"  class="card-text" style="display: block; width: 100%; "></canvas>
            </div>
        </div>
        <div class="card m-2 col-6">
            <h5 class="card-header">Les différents départements</h5>
            <div class="graph-info">
                <h6 class="card-title">Il y a {{  tableau_sans_doublon2|length }} départements </h6>
                <canvas id="graphDepartement"  class="card-text" style="display: block; width: 100%; "></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        // GRAPH PRODUIT VISE
        let categories = document.querySelector("#graphProduitVise")
        let nbre_chauf = {{ nbre_chauf }};
        let nbre_sanit = {{ nbre_sanit }};

        let categraph = new Chart(categories, {
            type: "pie",
            options : {
                "responsive": false,
                "maintainAspectRatio": true
            },
            showScale: true,

            data: {
                labels: ["Eau chaude sanitaire","Eau chaude sanitaire et chauffage"],
                datasets: [{
                    label: 'Répartition des catégories',
                    data: [nbre_sanit, nbre_chauf],
                    backgroundColor: ["red", "blue"],
                    // borderColor: 'black'
                }],
            }
        })

        // GRAPH DEPARTEMENT
        let departement = document.querySelector("#graphDepartement")
        let tableau_sans_doublon = {{ tableau_sans_doublon }};
        let count_dep = {{ count_dep }};

        let departgraph = new Chart(departement, {
            type: "pie",
            options : {
                "responsive": false,
                "maintainAspectRatio": true
            },
            showScale: true,
            data: {
                labels: tableau_sans_doublon,
                datasets: [{
                    label: 'Répartition des departements',
                    data: count_dep,
                    backgroundColor: ["red", "blue","green", "orange","grey", "yellow", "brown", "purple","rose" ]
                }],
            }
        })
    </script>
{% endblock %}


