{% extends 'admin/base_admin.html.twig' %}

{% block body %}
<div class="m-4">
    <h4 class="p-2 mb-2 bg-secondary text-white rounded">Profil Utilisateur</h4>
    <p>Vous pouvez retrouvez les informations détaillées de l'utilisateur</p>
    <div class="card my-2">
        <h4 class="card-header">Contact</h4>
        <div class="card-info">
            <div class="card-item">
                <label for="">Nom : </label>
                <div style="display:none " id="utilId">{{ utilisateur.id }}</div>
                <div>{{ utilisateur.nom }}</div>
            </div>
            <div class="card-item">
                <label for="">Prénom : </label>
                <div>{{ utilisateur.prenom }}</div>
            </div>
            <div class="card-item">
                <label for="">Téléphone : </label>
                <div>{{ utilisateur.tel }}</div>
            </div>
            <div class="card-item">
                <label for="">Email : </label>
                <div>{{ utilisateur.email }}</div>
            </div>
            <div class="card-item">
                <label for="">Code postal : </label>
                <div>{{ utilisateur.codePostal }}</div>
            </div>
            <div class="card-item">
                <label for="">Ville : </label>
                <div>{{ utilisateur.ville }}</div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <h4 class="card-header">Informations</h4>
        <div class="card-info">
            <div class="card-item">
                <label for="">Propriétaire : </label>
                {% set jesuisproprio = false %}
                {% if utilisateur.proprietaire == true %}
                    {% set jesuisproprio = true %}
                    <input type="checkbox" value="proprio" disabled="disabled" checked readonly>
                {% else %}
                    <input type="checkbox" value="proprio" disabled="disabled" readonly>
                {% endif %}
            </div>
            <div class="card-item">
                <label for="">Type de bien ? : </label>
                <div>{{ utilisateur.typeBien }}</div>
            </div>
            <div class="card-item">
                <label for="">Anciennetée du logement : </label>
                {% set plsude2ans = false %}
                {% if utilisateur.ancienneteEligible == true %}
                    {% set plsude2ans = true %}
                    <input type="checkbox" value="plusDe2ans" disabled="disabled" checked readonly>
                {% else %}
                    <input type="checkbox" value="plusDe2ans" disabled="disabled" readonly>
                {% endif %}
            </div>
            <div class="card-item" id="menu-deroulant">
                <label for="">Produit visé : </label>
                <div>{{ utilisateur.produitVise }}</div>
            </div>
            <div class="card-item" id="menu-deroulant">
                <label for="">Energie : </label>
                {% if utilisateur.energie == "Selectionnez votre energie" %}
                    <div>N/A</div>
                {% else %}
                    <div>{{ utilisateur.energie }}</div>
                {% endif %}
            </div>
            <div class="card-item" id="menu-deroulant">
                <label for="">Chauffage : </label>
                {% if utilisateur.chauffage is empty %}
                    <div>N/A</div>
                {% endif %}
                {% for key, chauffage in utilisateur.chauffage %}
                    <div>{{ utilisateur.chauffage[key] }}</div>
                {% endfor %}
            </div>
            <div class="card-item">
                <label for="">Nombre de salle de bain : </label>
                <div>{{ utilisateur.nbreSalleBain }}</div>
            </div>
            <div class="card-item">
                <label for="">Nombre de personne au foyer : </label>
                <div>{{ utilisateur.nbrePersFoyer }}</div>
            </div>
            <div class="card-item">
                <label for="">Revenu fiscal : </label>
                <div>{{ utilisateur.revenuFiscal }}</div>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <h4 class="card-header">Résultat Simulation</h4>
        <div class="card-info">
            <div class="card-item">
                <label for="">MaPrimeRénov' : </label>
                <div>{{ utilisateur.resultat.primeRenov }}</div>
            </div>
            <div class="card-item">
                <label for="">CEE : </label>
                <div>{{ utilisateur.resultat.cee }}</div>
            </div>
            <div class="card-item">
                <label for="">Coup de pouce Chauffage : </label>
                <div>{{ utilisateur.resultat.cdpChauffage }}</div>
            </div>
            <div class="card-item">
                <label for="">Montant total des primes : </label>
                <div>{{ utilisateur.resultat.montantTotal }}</div>
            </div>
        </div>
    </div>
    <div class="card my-2">
        <h4 class="card-header">Envoyez le contact par mail</h4>
        <div class="card-info">
            <div class="card-item">
                <label for="">Nom du fournisseur : </label>
                <select onchange="getNameFournisseur()" id="fournisseurChoisi" class="card-item">
                    {% for fournisseur in fournisseursList %}
                        <option value="{{ fournisseur.id }}">{{ fournisseur.displayName }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-item">
                <label for="">Envoyez au fournisseur : </label>
                <a id="SendMailButton" class="btn btn-secondary mb-2"
                   href="">Envoyez </a>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary mb-2" id="edit_button" href="{{ path('utilisateur_list') }}">Retour</a>


    {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('assets/js/scriptMailFournisseur.js') }}" type="text/javascript"></script>
{% endblock %}