{% extends 'utilisateur/base.html.twig' %}

{% block title %}Réaliser une simulation{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="simulation-title">Simulateur d'aide</h3>
        <p id="reframe_top">Renseignez les informations demandées afin d'obtenir votre droit aux différentes aides</p>
        <div class="form-outer">
            {{ form_start(utilisateurForm, { 'id' : "registerForm", 'class': "container"}) }}
            <div class="page slide-page">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-dark" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="title" >Contact</div>
                <div class="coordonnees">
                    <div class="field">
                        {{ form_label(utilisateurForm.nom) }}
                        {{ form_widget(utilisateurForm.nom) }}
                        {{ form_errors(utilisateurForm.nom) }}
                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.prenom) }}
                        {{ form_widget(utilisateurForm.prenom) }}
                        {{ form_errors(utilisateurForm.prenom) }}
                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.tel) }}
                        {{ form_widget(utilisateurForm.tel) }}
                        {{ form_errors(utilisateurForm.tel) }}
                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.email) }}
                        {{ form_widget(utilisateurForm.email) }}
                        {{ form_errors(utilisateurForm.email) }}

                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.code_postal) }}
                        {{ form_widget(utilisateurForm.code_postal, {'id': 'searchInput'}) }}
                        {{ form_errors(utilisateurForm.code_postal) }}
                    </div>
                    <div class="field test2">
                        {{ form_label(utilisateurForm.ville) }}
                        <input list="lstVilles" type="text" id="villeField" name="utilisateur[ville]">
                        <datalist id="lstVilles">
                        </datalist>
                        {{ form_errors(utilisateurForm.ville) }}
                    </div>
                </div>
                <div class="logement">
                    <div class="field-2">
                        {{ form_label(utilisateurForm.proprietaire) }}
                        {{ form_widget(utilisateurForm.proprietaire) }}
                        {{ form_errors(utilisateurForm.proprietaire) }}
                    </div>
                    <div class="field-2">
                        {{ form_label(utilisateurForm.type_bien) }}
                        {{ form_widget(utilisateurForm.type_bien) }}
                        {{ form_errors(utilisateurForm.type_bien) }}
                    </div>
                    <div class="field-2">
                        {{ form_label(utilisateurForm.ancienneteEligible) }}
                        {{ form_widget(utilisateurForm.ancienneteEligible) }}
                        {{ form_errors(utilisateurForm.ancienneteEligible) }}
                    </div>
                </div>
                <div class="buttons">
                    <button class="firstNext next">Suivant</button>
                </div>
            </div>
            <div class="page" >
                <div class="title" >Informations</div>
                {{ form_errors(utilisateurForm) }}
                <div class="enquete">
                    <div class="field-3" id="menu-deroulant">
                        {{ form_label(utilisateurForm.produit_vise) }}
                        {{ form_widget(utilisateurForm.produit_vise) }}
                        {{ form_errors(utilisateurForm.produit_vise) }}
                        {{ form_row(utilisateurForm.energie) }}
                        {{ form_row(utilisateurForm.chauffage) }}
                    </div>
                </div>
                <div class="foyer">
                    <div class="field">
                        {{ form_label(utilisateurForm.nbre_salle_bain) }}
                        {{ form_widget(utilisateurForm.nbre_salle_bain) }}
                        {{ form_errors(utilisateurForm.nbre_salle_bain) }}

                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.nbre_pers_foyer) }}
                        {{ form_widget(utilisateurForm.nbre_pers_foyer) }}
                        {{ form_errors(utilisateurForm.nbre_pers_foyer) }}

                    </div>
                    <div class="field">
                        {{ form_label(utilisateurForm.revenu_fiscal) }}
                        {{ form_widget(utilisateurForm.revenu_fiscal) }}
                        {{ form_errors(utilisateurForm.revenu_fiscal) }}

                    </div>


                </div>
                <div class="accord">
                    <div class="field-4">
                        {{ form_label(utilisateurForm.agreeTerms) }}
                        {{ form_widget(utilisateurForm.agreeTerms) }}
                        {{ form_errors(utilisateurForm.agreeTerms) }}

                        {{ form_label(utilisateurForm.agreeEmail) }}
                        {{ form_widget(utilisateurForm.agreeEmail) }}
                        {{ form_errors(utilisateurForm.agreeEmail) }}

                        {{ form_row(utilisateurForm._token) }}

                        {{ form_start(utilisateurForm) }}
                    </div>
                </div>
                <div class="buttons btns">
                    <button class="prev-1 prev buttons-2 ">Précédent</button>
                    <button type="submit" class="submit btn btn-info buttons-2">Calculer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

    <script src="{{ asset('assets/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/script_ville.js') }}" type="text/javascript"></script>
    <script >
    function remplirField(villeChoisie){
        villeField.value = villeChoisie;
    }
    </script>
{% endblock %}

