{#<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Simulateur d'aide{% endblock %}</title>
    <!-- CSS -->
    <link href="../../public/assets/css/normalize.css" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    <!-- JS -->

</head>#}
{% extends 'utilisateur/base.html.twig' %}

{# read and display all flash messages #}
{% block body %}
    <div class="tableau-resultat-conteneur container">
        <header class="tableau-resultat-header">
            <h2>Mr {{ utilisateur.nom }}</h2>
            <h4>Voici le résultat de votre simulation</h4>
            <h5>Selon les informations que vous nous avez fournies, vous avez le droit aux aides suivantes</h5>
        </header>

        <table>
            <thead class="">
            <tr class="row">
                <th >Montant de MaPrimeRénov'</th>
                <th >{{ utilisateur.resultat.PrimeRenov }} €</th>
            </tr>
            <tr class="row">
                <th >Montant CEE</th>
                <th >{{ utilisateur.resultat.cee }} €</th>

            </tr>
            <tr class="row">
                <th >Montant du Coup de pouce fioul</th>
                <th >{{ utilisateur.resultat.CdpChauffage }} €</th>
            </tr>
            <tr class="row">
                <th >Montant Total</th>
                <th >{{ utilisateur.resultat.MontantTotal }} €</th>
            </tr>
            </thead>
        </table>
        {% if utilisateur.proprietaire == false %}
            <p class="alerte-proprietaire">Vous êtes locataire, veuillez contacter votre propriétaire avant toutes demarches</p>
        {% endif %}
        <footer>
            <p>Vous pouvez prendre contact avec nous en cliquant sur le bouton ci-dessous</p>
            <p><i class="fas fa-envelope"></i> contact@top-enr.com</p>
            <p><i class="fas fa-phone-alt"></i> +33 0622310601 / +33 0604585843</p>
            <div>
                <a class="button-link" target="_blank" href="https://top-enr.com/contact">Nous contacter</a>
                <a class="button-link" target="_blank"href="https://calendly.com/topenr/15min">Prendre un RDV</a>
            </div>
            <div>
                <a class="button-link" target="_blank" href="https://top-enr.com/">Accueil </a>
            </div>
        </footer>
    </div>


{% endblock %}


