{% extends 'base.html.twig' %}

{% block title %}Simulateur d'aide{% endblock %}
        {# todo afficher une list d utilisateur #}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Mr {{ utilisateur.nom }}</h2>
    <h3>Voici le résultat de votre simulation</h3>
    <p>Selon les informations que vous nous avez fournies, vous avez le droit aux aides suivantes</p>

    <table class="table">
        <thead>
        <tr class="row">
            <th >Resultat prime renov</th>
            <th >{{ utilisateur.resultat.PrimeRenov }} €</th>
        </tr>
        <tr class="row">
            <th >Resultat CEE</th>
            <th >{{ utilisateur.resultat.cee }} €</th>

        </tr>
        <tr class="row">
            <th >Coup de pouce fioul</th>
            <th >{{ utilisateur.resultat.CdpChauffage }} €</th>
        </tr>
        <tr class="row">
            <th >Montant Total</th>
            <th >{{ utilisateur.resultat.MontantTotal }} €</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock %}
