{% extends 'base.html.twig' %}

{% block title %}Simulateur d'aide{% endblock %}
        {# todo afficher une list d utilisateur #}
{% block body %}

<div class="container">
    <h2>Mr {{ utilisateur.nom }}</h2>
    <h3>Voici le résultat de votre simulation</h3>
    <p>Selon les informations que vous nous avez fournies, vous avez le droit aux aides suivantes</p>
    <table class="table">
        <thead>
        <tr class="row">
            <th >Montant de la prime RENOV</th>
            <th >{{ utilisateur.resultat.PrimeRenov }} €</th>
        </tr>
        <tr class="row">
            <th >Montant CEE</th>
            <th >{{ utilisateur.resultat.cee }} €</th>

        </tr>
        <tr class="row">
            <th >Montant du Coup de pouce fioul</th>
            <th >{{ utilisateur.resultat.CdpChauffage }} €</th>
        </tr>
        <tr class="row">
            <th >Montant Total</th>
            <th >{{ utilisateur.resultat.MontantTotal }} €</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock %}
