<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulateur d'aide{% endblock %}</title>

    <!-- CSS -->
    <link href="{{ asset('assets/css/style_error.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet">

</head>
<body>
<div class="box">
    <img src="{{ asset('assets/images/ajax-loader.gif') }}" alt="" class="loader">
</div>
<div class="container">
    <a href="https://top-enr.com/" target="_blank"><img src="{{ asset('assets/images/Logo-top-fond-noirv41.png') }}" alt="logo_fond_noir"></a>

    {# read and display all flash messages #}
{% block body %}

{% endblock %}
<p><a href="https://top-enr.com/" title="Go back to homepage" target="_blank">Revenir à l'accueil du site</a></p>
</div>
</body>
{% block javascript %}
<script src="{{ asset('assets/js/loader.js') }}" type="text/javascript" ></script>
{% endblock %}

</html>