<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Resultat</title>
    <!-- JS -->
    <script src="https://kit.fontawesome.com/8c1ccebd78.js" crossorigin="anonymous"></script>
</head>
<body>
{% apply inline_css %}
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-family: arial;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        ol, ul {
            list-style: none;
        }

        .container {
            width: 550px;
            margin: 10px auto;
        }
        body {
            line-height: 1;
            margin: 20px 0;
            overflow: auto;
            height: 100%;
            width: 100%;
        }

        /* RESULTAT */
        .rounded {
            border-radius: .25rem!important;
        }

        .bg-secondary {
            background-color: #4bb30a !important;
        }

        .bg-graisclair {
            background-color: #9da0a1 !important;
        }
        .text-black {
            color: #030303 !important;
        }
        .p-2 {
            padding: .5rem!important;
        }
        .mb-2 {
            margin-bottom: .5rem!important;
        }

        .my-2 {
            margin-top: .5rem!important;
            margin-bottom: .5rem!important;
        }

        .tableau-resultat-conteneur {
            text-align: center;
        }

        header h5 {
            font-weight: 100;
        }


        table {
            border-collapse: collapse;
            width: 400px;
            border: 2px solid;
            margin: 20px auto;
            border-radius: 0.25rem!important;

        }


        th, td {
            border: 1px solid black;
            padding: 10px;
            vertical-align: top;
        }

        table tr:last-child {
            border-top: 3px solid;
        }

        footer div {

            margin: 15px 0;
        }

        .button-link {
            text-decoration: none;
            width: 50%;
            height: 100%;
            padding: 0 20px;
            border: none;
            background: #070707FF;
            margin-top: 0px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: 0.5s ease;
        }
        .alerte-proprietaire {
            background-color: rgba(191, 94, 30, 0.5);
            border-radius: 0.2em;
        }
    </style>
    <body>


    </body>
    <div class="tableau-resultat-conteneur container">
        <header class="tableau-resultat-header">
            <h4 class="p-2 mb-2 bg-secondary text-black rounded"  >Mr {{ name }} voici le résultat de votre simulation</h4>
            <h5>Selon les informations que vous nous avez fournies, vous avez le droit aux aides suivantes</h5>
        </header>

        <table>
            <thead class="">
            <tr class="row">
                <th>Montant de MaPrimeRénov'</th>
                <th>{{ prime_renov }}€</th>
            </tr>
            <tr class="row">
                <th>Montant CEE</th>
                <th>{{ prime_cee }}€</th>

            </tr>
            <tr class="row">
                <th>Montant du Coup de pouce fioul</th>
                <th>{{ prime_fioul }}€</th>
            </tr>
            <tr class="row">
                <th>Montant Total</th>
                <th>{{ total }}€</th>
            </tr>
            </thead>
        </table>
        {% if proprietee == false %}
            <p class="alerte-proprietaire">Vous êtes locataire, veuillez contacter votre propriétaire avant toutes
                demarches</p>
        {% endif %}
        <footer>
            <p>Vous pouvez prendre contact avec nous en répondant à cet e-mail</p>
            <p><i class="fas fa-envelope"></i> contact@top-enr.com</p>
            <p><i class="fas fa-phone-alt"></i> +33 0622310601 / +33 0604585843</p>
            <div>
                <a class="button-link" href="https://top-enr.com/contact">Nous contacter</a>
            </div>
            <div>
                <a class="button-link" href="https://calendly.com/topenr/15min">Prendre un RDV</a>
            </div>
        </footer>
    </div>

{% endapply %}


</body>
</html>