<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <title>Resultat</title>
    <!-- JS -->
    <script src="https://kit.fontawesome.com/8c1ccebd78.js" crossorigin="anonymous"></script>
</head>
<body>
{% apply inline_css %}
    <style>
        body {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 20px 0;
            overflow: auto;
            height: 100%;
            width: 550px;
            background: -webkit-linear-gradient(bottom, #3bc436, #f5eaea);
        }

        /* RESULTAT */

        .tableau-resultat-conteneur {
            text-align: center;
        }

        header h5 {
            font-weight: 100;
        }


        table {
            border-collapse: collapse;
            width: 400px;
            border: 2px solid;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            vertical-align: top;
        }

        table tr:last-child {
            border-top: 3px solid;
        }

        .button-link {
            text-decoration: none;
            width: 50%;
            height: 100%;
            padding: 0 20px;
            border: none;
            background: #070707FF;
            margin-top: 0px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: 0.5s ease;
        }

        .alerte-proprietaire {
            background-color: rgba(191, 94, 30, 0.5);
            border-radius: 0.2em;
        }

        .alerte-proprietaire a {
            color: white;
        }
    </style>
    <div class="tableau-resultat-conteneur container">
        <header class="tableau-resultat-header">
{#            <h2>Mr {{ name }}</h2>#}
            <h4>Voici le rappel de votre simulation</h4>
            <h5>Vous aviez fait une simulation pour les aides à l'acquisition et l'installation d'un materiel solaire thermique</h5>
            <h6>En effet l'energie solaire est une energie gratuite, écologique et inépuisable alors que l'energie que vous utilisez actuellement fait l'objet d'une augmentation de tarif constante</h6>
        </header>

        <table>
            <thead class="">
            <tr class="row">
                <th>Montant de MaPrimeRénov'</th>
{#                <th>{{ prime_renov }} €</th>#}
            </tr>
            <tr class="row">
                <th>Montant CEE</th>
{#                <th>{{ prime_cee }} €</th>#}

            </tr>
            <tr class="row">
                <th>Montant du Coup de pouce fioul</th>
{#                <th>{{ prime_fioul }} €</th>#}
            </tr>
            <tr class="row">
                <th>Montant Total</th>
{#                <th>{{ total }} €</th>#}
            </tr>
            </thead>
        </table>
        {#{% if proprietee == false %}
            <p class="alerte-proprietaire">Vous êtes locataire, veuillez contacter votre propriétaire avant toutes
                demarches</p>
        {% endif %}#}
        <footer>
            <p>Vous n'avez toujours pas réalisé votre projet ? Sachez que vous avez déjà perdu plusieurs dizaines d'euros</p>
            <p> N'attendez plus contactez nous pour que nous puissions vous accompagner dans la réalisation de votre projet</p>
            <p><i class="fas fa-envelope"></i> contact@top-enr.com</p>
            <p><i class="fas fa-phone-alt"></i> +33 0622310601 / +33 0604585843</p>
            <a class="button-link" href="https://top-enr.com/contact">Nous contacter</a>
            <a class="button-link" href="https://calendly.com/topenr/15min">Prendre un RDV</a>
        </footer>
    </div>
{% endapply %}

</body>
</html>